@import "tailwindcss";

@theme {
  --font-headings: "Josefin Sans Variable", serif;
  --font-body: "Inter Variable", sans-serif;
  
  --color-main-bg: #0F0F0F;
  --color-main-text: #e2e8f0;

  --animate-spin: spin 2.5s linear infinite;
  --animate-pulse: pulse 4s linear infinite;
  --animate-fadeIn: fadeIn 1s ease-in;
  --animate-slideIn: slideIn .5s ease-in;
  --animate-slideInFromDown: slideInFromDown .7s ease-in;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideInFromDown {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}