@import "tailwindcss";

@theme {
  --font-headings: "Josefin Sans Variable", serif;
  --font-body: "Inter Variable", sans-serif;
  
  --color-main-bg: #0F0F0F;
  --color-main-text: #e2e8f0;

  --animate-spin: spin 2.5s linear infinite;
  --animate-pulse: pulse 4s linear infinite;
}