---
import Layout from "../../layouts/Layout.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl } from "../../utils/translations";

const lang = getLangFromUrl(Astro.url);
---

<Layout title="404">
  <main
    class="max-w-full lg:max-w-5xl h-screen mx-auto flex items-center justify-center flex-col py-12 px-4"
  >
    <div class="text-center">
      <h1 class="font-headings text-5xl font-bold tracking-wider">404</h1>
      <p class="text-slate-300 mb-6 text-lg">
        I'm sorry, if you were expecting something here, it doesn't exist.
      </p>
      <a
        class="mt-4 px-4 py-[6px] rounded-md border-[1px] border-sky-500/20 transition-shadow duration-300 hover:shadow-sm hover:shadow-sky-700"
        href={getRelativeLocaleUrl(lang, "/")}
      >
        Back to home
      </a>
    </div>
  </main>
</Layout>
