---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import { ContactForm } from "../components/ContactForm";
---

<Layout title="Contacto">
  <section class="max-w-full lg:max-w-5xl h-screen mx-auto flex flex-col py-12 px-4 overflow-hidden">
    <Navigation />  
    <main class="w-full md:w-[60%] mx-auto flex flex-col mt-8 space-y-4 animate-fadeIn">
      <h1 class="font-headings text-2xl font-bold">Creemos soluciones increibles. ¡Escribe tu mensaje!</h1>
      <ContactForm client:load />
    </main>
  </section> 
</Layout>

<script>  
  const form = document.querySelector("form");
  form?.addEventListener("submit", (e) => {
    e.preventDefault();
  });
</script>