<section class="w-full mt-12">
  <h3 class="font-headings text-2xl font-bold text-slate-200">Educación</h3>
  <ul class="mt-8 flex flex-col space-y-8">
    <li>
      <h4 class="text-lg font-bold text-main-text font-headings">
        Ingeniería en Informatica
      </h4>
      <p>Universidad Politecnica Territorial "Mario Briceño Irragorry"</p>
      <span class="text-slate-500 text-sm">sep. 2021 - 2025</span>
      <p class="text-sm text-slate-400">Actualmente cursando último año de ingenieria informatica con enfoque en estructuras de datos y arquitectura de software ademas de una especializacion en el area de desarrollo web.</p>
    </li>
    <li>
      <h4 class="text-lg font-bold text-main-text font-headings">Diplomado en Desarrollo Web</h4>
      <p>UneWeb</p>
      <span class="text-slate-500 text-sm">ago. 2022</span>
      <p class="text-sm text-slate-400">Diplomado enfocado en el desarrollo de aplicaciones web frontend, diseño responsivo y experiencia de usuario.</p>
    </li>
    <li>
      <h4 class="text-lg font-bold text-main-text font-headings">Fundamentos de Ingeniería de Software</h4>
      <p>Platzi - IBM Cloud</p>
      <span class="text-slate-500 text-sm">Mar. 2022</span>
      <p class="text-slate-400 text-sm">Curso enfocado en los fundamentos de el software y su función a bajo nivel, el funcionamiento de internet, arquitectura de software y las bases de datos.</p>
    </li>
  </ul>
</section>