<section class="w-full mt-12">
  <h3 class="font-headings text-2xl font-bold text-slate-200">Reconocimientos</h3>
  <ul class="mt-8 flex flex-col space-y-4">
    <li>
      <div>
        <h3 class="text-lg font-bold text-main-text font-headings">
          Universidad Politecnica Territorial "Mario Briceño Irragorry"
        </h3>
      </div>
      <div>
        <p>Ingeniería en Informatica</p>
        <span class="text-slate-400 text-sm">sep. 2021 - 2025</span>
        <p class="text-sm text-slate-400">Actualmente cursando último año de ingenieria informatica con enfoque en estructuras de datos y arquitectura de software ademas de una especializacion en el area de desarrollo web.</p>
      </div>
    </li>
  </ul>
</section>