<section class="w-full mt-12">
  <h3 class="font-headings text-2xl font-bold text-slate-200">Experiencia</h3>

  <ul class="w-full mt-8 flex flex-col space-y-4">
    <li class="border-b-1 border-slate-600 pb-1">
      <h4 class="font-headings text-lg">Asistente de laboratorio universitario</h4>
      <p class="font-body text-sm text-slate-400">Ayudé con el desarrollo de clases y de preparación de materiales para los estudiantes de la universidad, preparé entornos y herramientas para el desarrollo de proyectos, además de asistir a los estudiantes con sus dudas y problemas.</p>
      <span class="text-slate-500 text-sm">sep. 2023 - ene. 2024</span>
    </li>
    <li>
      <h4 class="font-headings text-lg">Asistente de ingeniero en sistemas</h4>
      <p class="font-body text-sm text-slate-400">Fui parte de un equipo de tres personas para el desarrollo de diferentes proyectos de software enfocados en el area de desarrollo web, para la municipalidad de mi localidad. Además de ayudar con la implementación de nuevas tecnologías como Astro.</p>
      <span class="text-slate-500 text-sm">mar. 2024 - ago. 2024</span>
    </li>
  </ul>
</section>