---
import TechComponent from './TechComponent.astro';
import ContactComponent from './ContactComponent.astro';
import ProjectCard from './ProjectCard.astro';
import CuriosityComponent from './CuriosityComponent.astro';
import ProjectsList from './ProjectsList.astro';
import ExperienceList from './ExperienceList.astro';
---


<main class="w-full flex flex-col mt-8">
  <h2 id="about" class="font-headings text-2xl font-bold text-slate-200">Sobre mi</h2>
  <section class="w-full mt-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 grid-rows-1 md:grid-rows-2 gap-4">   
    <TechComponent />
    <ContactComponent />
    <ProjectCard 
      title='Noteskit'
      description="Aplicación web para gestionar notas y tareas de manera organizada y cómoda, con la opción de filtrar, organizar y editar notas de manera eficiente."
      technologies={["NextJS", "TypeScript", "Tailwind", "Supabase"]}
      link='#'
      code='https://github.com/radriann21/noteskit'
      starred={true}
    /> 
    <CuriosityComponent />
  </section>
  <ProjectsList />
  <ExperienceList />
</main>

<script>
  import { animate, inView } from "motion"

  inView('#about', (element) => {
    animate(element, 
    {
      x: [-100, 0],
      opacity: [0, 1]
    },
    {
      duration: 0.8
    }
  )
  })
</script>